<div class="home-contain">
    <div class="banner-bg">
      <img id="bannerImg" src="/images/new-dream-banner.jpg" alt="Dream_Journal_Banner" />
    </div>

  <div class="card-holder">
    <div id="newDreamLink">
      <a href="/newDream">
        <img src="/images/dream-button.png" alt="new-dream-button" />
      </a>
    </div>
  </div>
</div>