<container>
{{#each dreams as |dream|}}
{{> dream-card}}
{{/each}}

<div class="form-group">
    <button class="btn btn-primary new-dream-btn" type="click">new dream</button>
</div>
</container>


<script src="/js/newDreamBtn.js"></script>
