<form class="form new-dream-form">
    <div class="form-group new-dream-inputs">
        <label for="content">(Optional) Title:</label>
        <input class="form-input" type="text" id="new-dream-title" />

        <label for="content">I dreamt...</label>
        <input class="form-input" type="textarea" id="new-dream-content" />

        <div class="form-y/n-questions">
            <label for="content">Was this a lucid dream?</label>
            <input class="form-input" type="checkbox" id="lucid-check" />
        </div>
        <div class="form-y/n-questions">
            <label for="content">Make this dream private?</label>
            <input class="form-input" type="checkbox" id="private-check" />
        </div>

        <div class="form-group">
            <label for="customRange2" class="form_label">Nightmare meter (0- not scary, to 100- so scary!):</label>
            <input type="range" class="form-range" min="0" max="100" id="nightmare-meter">
        </div>

    </div>

    <p>Select tags:</p>
    <div class="dream-tags-selector" role="group" aria-label="Basic checkbox toggle button group">
        <input type="checkbox" class="btn-check tag-btn" id="pleasant-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="pleasant-tag">Pleasant</label>

        <input type="checkbox" class="btn-check tag-btn" id="adventure-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="adventure-tag">Adventure</label>

        <input type="checkbox" class="btn-check tag-btn" id="spooky-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="spooky-tag">Spooky</label>

        <input type="checkbox" class="btn-check tag-btn" id="nostalgic-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="nostalgic-tag">Nostalgic</label>
        
        <input type="checkbox" class="btn-check tag-btn" id="upsetting-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="upsetting-tag">Upsetting</label>

        <input type="checkbox" class="btn-check tag-btn" id="inspiring-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="inspiring-tag">Inspiring</label>

        <input type="checkbox" class="btn-check tag-btn" id="intense-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="intense-tag">Intense</label>

        <input type="checkbox" class="btn-check tag-btn" id="feverish-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="feverish-tag">Feverish</label>

        <input type="checkbox" class="btn-check tag-btn" id="bizarre-tag" autocomplete="off">
        <label class="btn btn-outline-light" for="bizarre-tag">Bizarre</label>
    </div>

    <div class="form-group">
        <button class="btn btn-dark save-dream-btn" type="submit">save dream</button>
    </div>
</form>

<script src="/js/saveDreamBtn.js"></script>