<form class="form new-dream-form">
    <div class="form-group">
        <label for="content">I dreamt...</label>
        <input class="form-input" type="text" id="new-dream-content" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary save-dream-btn" type="submit">save dream</button>
    </div>
</form>

<script src="/js/saveDreamBtn.js"></script>