<section class="container">
  <h3 class="gallery-name">{{dream.title}}</h3>
  <h4>{{date}}</h4>
  <section class="flex-row justify-center">
    {{dream.content}}
  </section>
  <section>
    {{dream.intensity}}
  </section>
</section>