:root {
  --primary: rgb(0, 0, 0);
  --secondary: #c5b6f1;
  --tertiary: #9886b3;
  --quatrinary: #9f92c5;
  --light: #e3e4e3;
  --dark: #524171;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  width: 100vw;
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}



main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.card-holder{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double black;
  border-radius: 10px;
  background-color: var(--light);
  color: black;
}

.login-contain {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.login-card {
  height: 300px;
  margin: 5px;
  flex: 0 0 50%;
  max-width: auto;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--secondary);
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  border-bottom: 2px solid black;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

/* HOME PAGE */
#bannerImg {
  position: relative;
  top: 0px;
  align-items: center;
}

#newDreamLink {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 10vh;
  max-width: 50%;
  max-height: 50%;
}

/* USER DREAMS PAGE */
.user-head-div {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 10px;
}

.user-head {
  border: black 2px solid;
  font-size: 60px;
  padding: 10px;
}

.new-dream-btn {
  position: absolute;
  margin-left: auto;
}

.new-dream-card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double black;
  border-radius: 10px;
  background-color: white;
}

.new-dream-card-head {
  font-style: italic;
  color: #c7ed71;
}

.new-dream-card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  background-color:white;
  height: auto;
}

/* NEW DREAM INPUT PAGE */
.new-dream-form {
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-dream-inputs {
  display: flex;
  flex-flow: column nowrap;
}

.dream-tags-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.tag-btn {
  border-radius: 3px;
}

.save-dream-btn {
  margin: 25px;
}

/* COMMUNITY PAGE */
.community-contain {
  display: flex;
  flex-flow: row nowrap;
}

.comm-head-div {
  flex-basis: 75vw;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  padding: 10px;
}

.community-users {
  width: fit-content;
  flex: 0;
  background-color: var(--tertiary);
  padding: 20px 30px 20px;
  text-align: left;
  color: black;
}

.community-dreams {
  padding: 20px 30px 20px;
}

.user-link {
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

/* SINGLE DREAM PAGE */
.single-dream-contain {
  margin: auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-dream-content {
  padding: 5px;
  border: black 2px solid;
  border-radius: 5px;
  color: var(--light);
  font-style: italic;
  background-color: #524171;
}


/* MOBILE RESPONSIVE CHANGES */
@media screen and (max-width: 768px) {
  main,
  nav,
  .community-contain {
    flex-direction: column;
  }

  nav a {
    padding: 5px 10px;
  }
  /* Make the sidebar stack below the body */
  aside {
    order: 2;
  }

  #newDreamLink {
    margin-top: 0;
  }

  .new-dream-form {
    margin: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .community-users {
    margin: auto;
    text-align: center;
    border: 2px solid black;
  }
}